  <div id="admin-content" class="bg-light">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <div class="card border-0 shadow-sm">
                  <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center py-3">
                           <h1 class="admin-heading fs-4"><i class="fa fa-users text-primary"></i> All Users</h1>
                           <a class="add-new btn btn-secondary bg-secondary text-white" href="/admin/add-user">add user</a>
                    </div>
                  </div>
                   <div class="card-body">
            <table  class="display responsive nowrap usersTable" style="width:100%">
              <thead>
                <tr>
                  <th>S.NO</th>
                  <th>Full Name</th>
                  <th>User Name</th>
                  <th>Role</th>
                  <th>Create At</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="overflow-hidden"></tbody>
            </table>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
  <script>
    const tabledata =<%-JSON.stringify(users) %>;
     $(document).ready(function () {
    $('.usersTable').DataTable({
      data: tabledata,
      responsive: true,
      pageLength: 7,
      lengthMenu: [5, 10, 15],
      searching: true,
      columns: [
        {
          data: null,
          render: function (data, type, row, meta) {
            return meta.row + 1; // S.NO
          },
          className: "text-center"
        },
        {
          data: 'fullname',
          className: "text-start"
        },
        {
          data: 'username',
          className: "text-sm-center"
        },
        {
          data: 'role',
          className: "text-sm-center"
        },
        {
          data: 'timestamps',
          render: function (data, _type, _row) {
            if (!data) return 'N/A';
            const date = new Date(data);
            return date.toLocaleDateString('en-GB') + ' ' +
                   date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
          },
          className: "text-sm-center"
        },
        {
          data: '_id',
          render: function (data, type, row) {
            return `
              <a class="btn btn-edit" href="/admin/update-user/${data}">
                <i class="fa fa-edit text-white"></i>
              </a>
              <button class="btn btn-delete delete-category ms-2" onclick="deleteUser('${data}')">
                <i class="fa fa-trash text-white"></i>
              </button>
            `;
          },
          searchable: false,
          className: "text-sm-end"
        }
      ]
    });
  });


   async function deleteUser(id){
    try{
      if(confirm("Are you sure you want to delete this user?")){
       const response = await fetch(`/admin/delete-user/${id}`,{
         method:"DELETE"
       });
       if(response.ok){
        window.location.reload()
      }
      if(response.status == 400){
       let data = await response.json();
        alert(data.message)
      }
      }
    }catch(err){
      console.log(err)
    }
   }
  </script>

<%- contentFor("tabulatorCss") %>
  <!-- datatable css CDN -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">